# AMEBA PWM configuration options

# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config PWM_AMEBAPRO2
	bool "AMEBA PWM driver"
	default y
	depends on DT_HAS_REALTEK_AMEBAPRO2_PWM_ENABLED
	help
	  Enable the PWM driver for AMEBA family of processors.
